libjam-md-xml/xsds/ints.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://asdev.ca/libjam-md/schemas/ints.xsd">

    <xs:element name="Ints">
        <xs:complexType>
            <xs:element name="Int">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:integer">
                            <xs:attribute name="name" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:complexType>
    </xs:element>

</xs:schema>