libjam-md-xml/xsds/layouts.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://asdev.ca/libjam-md/schemas/layouts.xsd">

    <xs:element name="Layouts">
        <xs:complexType>

            <xs:element name="Layout">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="layout_type">
                            <xs:attribute name="name" type="xs:string" use="required" />
                            <xs:attribute name="theme" type="xs:string" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>

        </xs:complexType>
    </xs:element>

    <xs:complexType name="layout_type">
        <xs:complexContent>
            <xs:extension base="view_type">
                <xs:all minOccurs="0">

                    <xs:element name="LinearLayout" minOccurs="0">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="layout_type">

                                    <xs:attribute name="orientation" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="horizontal" />
                                                <xs:enumeration value="vertical" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>

                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="RelativeLayout" minOccurs="0">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="layout_type">

                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="View" minOccurs="0" type="view_type" />

                    <xs:element name="TextView" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="view_type">
                                    <xs:attribute name="padding-left" use="optional" type="xs:integer" default="0" />                                    <xs:attribute name="padding-left" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-right" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-top" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-bottom" use="optional" type="xs:integer" default="0" />

                                    <xs:attribute name="text-gravity" use="optional" type="gravity_type" />
                                    <xs:attribute name="text" use="required" type="xs:string" />
                                    <xs:attribute name="text-color" use="optional" type="xs:string" />
                                    <xs:attribute name="text-font" use="optional" type="xs:string" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="ButtonView" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="view_type">
                                    <xs:attribute name="padding-left" use="optional" type="xs:integer" default="0" />                                    <xs:attribute name="padding-left" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-right" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-top" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-bottom" use="optional" type="xs:integer" default="0" />

                                    <xs:attribute name="text-gravity" use="optional" type="gravity_type" />
                                    <xs:attribute name="text" use="required" type="xs:string" />
                                    <xs:attribute name="text-color" use="optional" type="xs:string" />
                                    <xs:attribute name="text-font" use="optional" type="xs:string" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="CircularProgressView" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="view_type">
                                    <xs:attribute name="padding-left" use="optional" type="xs:integer" default="0" />                                    <xs:attribute name="padding-left" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-right" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-top" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-bottom" use="optional" type="xs:integer" default="0" />

                                    <xs:attribute name="circle-radius" use="optional" type="xs:integer" />
                                    <xs:attribute name="circle-stroke-width" use="optional" type="xs:integer"/>
                                    <xs:attribute name="circle-color" use="optional" type="xs:string" />
                                    <xs:attribute name="circle-gravity" use="optional" type="gravity_type" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="ProgressView" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="view_type">
                                    <xs:attribute name="padding-left" use="optional" type="xs:integer" default="0" />                                    <xs:attribute name="padding-left" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-right" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-top" use="optional" type="xs:integer" default="0" />
                                    <xs:attribute name="padding-bottom" use="optional" type="xs:integer" default="0" />

                                    <xs:attribute name="type" use="optional" default="determinate">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="indeterminate" />
                                                <xs:enumeration value="determinate" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>

                                    <xs:attribute name="progress" use="optional" default="0.0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:float">
                                                <xs:minInclusive value="0.0" />
                                                <xs:maxInclusive value="1.0" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="Include" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="view_type">
                                    <xs:attribute name="name" use="required" type="xs:string" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="CustomView" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="view_type">
                                    <xs:attribute name="class" type="xs:string" use="required" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="Overlay" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:all minOccurs="0">

                                <xs:element name="OverlayView" minOccurs="0" type="view_type" />

                                <xs:element name="OverlayLinearLayout" minOccurs="0">
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="layout_type">

                                                <xs:attribute name="orientation" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="horizontal" />
                                                            <xs:enumeration value="vertical" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>

                                            </xs:extension>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>

                            </xs:all>
                        </xs:complexType>
                    </xs:element>

                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="view_type">

        <xs:attribute name="id" type="xs:ID" use="optional" />

        <xs:attribute name="minSize" type="xs:string" use="optional" default="-1x-1">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="\dx\d" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>

        <xs:attribute name="maxSize" type="xs:string" use="optional" default="-1x-1">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="\dx\d" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>

        <xs:attribute name="background" type="xs:string" use="optional" />

        <xs:attribute name="gravity" type="gravity_type" use="optional" />

        <xs:attribute name="visibility" use="optional" default="visible">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="visible" />
                    <xs:enumeration value="invisible" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>

        <xs:attribute name="z-index" type="xs:integer" use="optional" default="0" />

        <xs:attribute name="translation-x" type="xs:integer" use="optional" default="0" />
        <xs:attribute name="translation-y" type="xs:integer" use="optional" default="0" />

        <xs:attribute name="overclip-left" type="xs:integer" use="optional" default="0" />
        <xs:attribute name="overclip-right" type="xs:integer" use="optional" default="0" />
        <xs:attribute name="overclip-top" type="xs:integer" use="optional" default="0" />
        <xs:attribute name="overclip-bottom" type="xs:integer" use="optional" default="0" />

    </xs:complexType>

    <xs:simpleType name="gravity_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top-left" />
            <xs:enumeration value="top-middle" />
            <xs:enumeration value="top-right" />
            <xs:enumeration value="middle-left" />
            <xs:enumeration value="middle-middle" />
            <xs:enumeration value="middle-right" />
            <xs:enumeration value="bottom-left" />
            <xs:enumeration value="bottom-middle" />
            <xs:enumeration value="bottom-right" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>